table {
  margin-bottom: 1rem;
  width: 100%;
  border: 1px solid #e5e5e5;
  border-collapse: collapse;
}
td,
th {
  padding: .25rem .5rem;
  border: 1px solid #e5e5e5;
}
tbody tr:nth-child(odd) td,
tbody tr:nth-child(odd) th {
  background-color: #f9f9f9;
}

.affix {
  position: fixed;
  width: 289px;
  height: 100%;
  background-color: #E6E6E6;
}
.nav-pills>li>a {
  border-radius: 0px;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus,
.nav-pills>li>a:hover, .nav-pills>li>a:focus {
  background-color:transparent;
  border-left-color:#E74C3C;
  border-left-style:solid;
  border-left-width:5px;
  color: #DB4437;
  background-color: #F2F2F2;
}
h1>a, h1>a:hover, .nav-pills>li>a {
  color: #DB4437;
}
